# Entorno virtual
venv/
.env

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log

# Archivos de IDE/Editor
.vscode/
.idea/

# Archivos temporales de sistema
.DS_Store
Thumbs.db
